/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
    display: flex;
    height: 10%;
    width: 100%;
    border: 2px solid grey;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border: 2px solid green;
}

#logoImage{
    height: 100%;
    width: 100%;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 40%;
    height: 100%;
    width: 60%;
    border: 2px solid black;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    border: 2px solid salmon;
}

#iconImages{
    height: 100%;
    width: 100%;
}

.firstSection{
    height: 100%;
    width: 100%;
    border: 2px solid blue;
}

.hOneHouse{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    margin-left: 9%;
    margin-bottom: 4%;
    height: 40%;
    width: 50%;
    border: 2px solid brown;
}

#FirstBigHeader{
    font-size: 70px;
    text-align: left;
}


.firstButtonHouse{
    display: flex;
    margin-left: 9%;
    margin-bottom: 4%;
    height: 10%;
    width: 60%;
    border: 2px solid green;
}

#inputBox{
    height: 100%;
    width: 80%;
}

#firstButton{
    height: 100%;
    width: 20%;
}

#icons{
    height: 100%;
    width: 100%;
}

.firstSectionIcons{
    margin-left: 9%;
    height: 10%;
    width: 30%;
    border: 2px solid greenyellow;
}

.secondSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 100%;
    border: 2px solid goldenrod;
}

.secondSectionContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    height: 80%;
    width: 50%;
    border: 2px solid pink;
}

.housesSpan{
    height: 10%;
    width: 20%;
    border: 2px solid darkslategray;
}

.hTwoHouse{
    height: 30%;
    width: 100%;
    border: 2px solid blueviolet;
}

.paragraphOne{
    height: 60%;
    width: 100%;
    border: 2px solid violet;
}

.housesSecondButton{
    height: 10%;
    width: 30%;
    border: 2px solid darkkhaki;
}

.thirdSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    border: 2px solid cyan;
}

.housesSecondSpan{
    height: 10%;
    width: 20%;
    border: 2px solid chartreuse;
}

.housesThirdHOne{
    height: 10%;
    width: 60%;
    border: 2px solid cornflowerblue;
}

.imagesLabelSubSet{
    display: flex;
    height: 10%;
    width: 50%;
    border: 2px solid rosybrown;
}

.firstSubDiv{
    height: 100%;
    width: 20%;
    border: 2px solid palegreen;
}

.secondSubDiv{
    height: 100%;
    width: 20%;
    border: 2px solid paleturquoise;
}

.thirdSubDiv{
    height: 100%;
    width: 20%;
    border: 2px solid palevioletred;
}

.fourthSubDiv{
    height: 100%;
    width: 20%;
    border: 2px solid chocolate;
}

.fifthSubDiv{
    height: 100%;
    width: 20%;
    border: 2px solid cornsilk;
}

.foodPhotos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 90%;
    border: 2px solid mediumseagreen;
}

.foodImage{
    height: 60%;
    width: 20%;
    border: 2px solid greenyellow;
}

.fourthSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150%;
    width: 100%;
    border: 2px solid blueviolet;
}

.topContentPortionFourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 60%;
    border: 2px solid red;
}

.housesFourthSecSpan{
    height: 10%;
    width: 20%;
    border: 2px solid greenyellow;
}

.housesFourthSecH1{
    height: 20%;
    width: 40%;
    border: 2px solid orange;
}

.phoneImage{
    height: 20%;
    width: 20%;
    border: 2px solid violet;
}

.housesSecondFourthSpan{
    height: 10%;
    width: 20%;
    border: 2px solid blue;
}

.housesSecondHTwoSpan{
    height: 10%;
    width: 20%;
    border: 2px solid greenyellow;
}

.housesSecondH{
    height: 10%;
    width: 30%;
    border: 2px solid darkmagenta;
}

.daysAndTimeClosing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 60%;
    border: 2px solid steelblue;
}

.firstParagraph, .secondParagraph{
    height: 100%;
    width: 40%;
    border: 2px solid gold;
}

.image{
    height: 40%;
    width: 60%;
    border: 2px solid darkmagenta;
}

.fifthSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
    border: 2px solid rosybrown;
}

.housesFifthSectionSpan{
    height: 5%;
    width: 15%;
    border: 2px solid green;
}

.containsLastHOne{
    height: 15%;
    width: 40%;
    border: 2px solid darkcyan;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
    border: 2px solid green;
}

#LastHTwo{
    height: 10%;
    width: 40%;
    border: 2px solid lightblue;
}

#LastSpan{
    height: 5%;
    width: 10%;
    border: 2px solid burlywood;
}

#stars{
    height: 10%;
    width: 40%;
    border: 2px solid grey;
}

#LastParagraph{
    height: 50%;
    width: 70%;
    border: 2px solid orange;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.firstSection{
    background-image: url(bgFirstSec.jpeg);
}

.secondSection{
    background-image: url(secondSecBG.jpeg);
    background-size: cover;
}

.thirdSection{
    background: rgb(243, 246, 247);
}

#theFoodImages{
    height: 100%;
    width: 100%;
}